nav.page-flow {
  width: 100%;
  background: white;
  border-bottom: 1px solid #f1f1f1; }
  nav.page-flow ul {
    padding: 10px 0px;
    display: flex; }
    nav.page-flow ul li {
      list-style: none;
      padding: 5px 10px; }
  nav.page-flow a {
    color: #2b2b2b;
    text-decoration: none;
    transition: color 0.3s ease-in; }
    nav.page-flow a:hover {
      color: #80a05d; }

footer {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center; }
  footer .wrapper {
    display: flex;
    flex-flow: row wrap; }


div.hamburger {
  display: none; }
  div.hamburger .fa {
    font-size: 2.4rem;
    color: #8f8f8f; }

figure, footer, header, nav, section {
  display: block; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

img {
  border: 0; }

button, input, select {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  /* 10px */ }

a {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 10px 0px;
  padding: 0px; }

h1 {
  font-weight: 300;
  font-size: 3rem; }

h2 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.6rem; }

.circle {
    position:center;
    height:100px;
  width:100px;
    	height: 100px;
    	background: #ffe2be;
      border-radius:50px;
       margin:0 auto;
       top:16px;
      }


h3 {
  font-size: 1.4rem;
  line-height: 1.82rem; }

h5 {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.56rem; }

h6 {
  text-transform: uppercase;
  font-size: 1rem; }

p {
  font-size: 1.2rem;
  color: #8f8f8f; }

.welcome {
  background: white;
  text-align: center; }
  .welcome .offer {
    width: 100%;
    display: flex;
    flex-flow: row wrap; }
    .welcome .offer .offer-item {
      width: calc(33.3% - 10px);
      margin-right: 10px; }
      .welcome .offer .offer-item:last-child {
        margin-right: 0px; }
      .welcome .offer .offer-item img {
        width: 100%;
        max-width: 300px; }
      .welcome .offer .offer-item a {
        text-decoration: none;
        text-transform: uppercase;
        background-color: #ffe2be;
        background-size: contain;
        font-size: 1.2rem;
        color: #2b2b2b;
        transition: color 0.3s ease-in; }
        .welcome .offer .offer-item a:hover {
          color: #80a05d; }

@media (max-width: 641px) {
  .welcome {
    background: white;
    text-align: center; }
    .welcome .offer {
      flex-flow: column wrap; }
      .welcome .offer .offer-item {
        width: 100%;
        margin: 15px 0;
        margin-right: 0; }
        .welcome .offer .offer-item img {
          width: 100%; }
        .welcome .offer .offer-item a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.6rem;
          color: #2b2b2b;
          transition: color 0.3s ease-in; }
          .welcome .offer .offer-item a:hover {
            color: #80a05d; } }


section {
  padding: 50px 0; }

.wrapper {
  width: 70%;
  max-width: 1280px;
  margin: 0 auto; }

  .menu {
    width: 70%;
    max-width: 1280px;
    margin: 5% auto; }

.show {
  display: flex;
  opacity: 1; }

button.add-to-cart {
  outline: none;
  width: 100%;
  background: none;
  border: none;
  padding: 10px 0px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #2b2b2b;
  transition: background, color 0.3s ease-in; }
  button.add-to-cart:hover {
    background: #80a05d;
    color: white; }

.cost {
  color: #8f8f8f; }


nav.settings {
  background: #2b2b2b;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  nav.settings ul.top-nav {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    nav.settings ul.top-nav li {
      display: inline-block;
      padding: 10px 15px; }
      nav.settings ul.top-nav li a {
        outline: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #8f8f8f;
        transition: color 0.3s ease-in; }
        nav.settings ul.top-nav li a:hover {
          color: #d9de55; }
      nav.settings ul.top-nav li:nth-of-type(4) {
        align-self: flex-end;
        margin-left: auto; }



nav.menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  padding: 10px 0px;
  background: white;
  border-top: 1px solid #f1f1f1; }
  nav.menu ul.wrapper {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    nav.menu ul.wrapper li {
      list-style: none;
      width: calc(100% / 9);
      text-align: center; }
      nav.menu ul.wrapper li a {
        outline: none;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2rem;
        color: #2b2b2b;
        transition: color 0.3s ease-in; }
        nav.menu ul.wrapper li a:hover {
          color: #80a05d; }

i.fa-shopping-cart, i.fa-search {
  font-size: 1.6rem; }


.hero {
  background: url("assets/flaunter-com-178022.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
  display: flex;
  flex-flow: column wrap;
  width: 70%;
  max-width: 1280px;
  margin: 0 auto; }
  .hero .wrapper {
    background-color: #ffe2be;
    margin: 1% auto;
    text-align: center; }
    .hero .wrapper h2 {
      font-size: 1.6rem;
      letter-spacing: 0.3rem;
      font-weight: 300;
      color: black; }
    .hero .wrapper p {
      font-size: 1.6rem;
      letter-spacing: 0.3rem;
      font-weight: 300;
      color: black; }

.view-products,
.see-all {
  outline: none;
  padding: 5px 30px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none; }

.view-products {
  background: #2b2b2b;
  color: white;
  transition: background 0.3s ease-in; }
  .view-products:hover {
    background: #80a05d; }

.see-all {
  background: #ffe2be;
  color: #2b2b2b;
  transition: background, color 0.3s ease-in; }
  .see-all:hover {
    background: #80a05d;
    color: white; }


.featured {
  text-align: left;
  position: relative; }

.menu-featured ul {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row-wrap;
  justify-content: center; }
  .menu-featured ul li {
    list-style: none;
    padding: 5px 10px; }
    .menu-featured ul li a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      color: #8f8f8f;
      transition: color 0.3s ease-in; }
      .menu-featured ul li a:hover {
        color: #80a05d; }

figure.featured-items {
  width: 100%;
  margin-top: 25px;
  display: flex; }

.featured-products {
  width: calc(70% - 10px);
  margin-right: 10px;
  display: flex;
  flex-flow: row wrap; }
  .featured-products .product {
    width: calc(50% - 10px);
    margin: 0px 10px 10px 0px;
    position: relative; }
    .featured-products .product:last-child {
      margin-right: 0px; }
    .featured-products .product .container {
      background: white;
      position: relative; }
      .featured-products .product .container img {
        width: 100%; }
      .featured-products .product .container .product-description {
        padding: 10px 25px; }

.profile {
  width: 30%;
  height: 75vh;
  max-height: 950px;
  background-color: #ffe2be;
  padding: 50px 30px;
  text-align: center; }

  .profile img {
    position: center;
    border-radius: 50%;
    width: 100%;
    }

    .profile ul.social {
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      ul.social li {
        list-style: none;
        margin: 5px; }
      ul.social a {
        font-size: 1.4rem;
        color: black;
        transition: color 0.3s ease-in; }
        ul.social a:hover {
          font-size: 1.4rem;
          color: #ffe2be; }

.profile form {
  padding-top: 25%;
  text-align: center; }

.instagam {
  padding: 0 0; }
  .instagam .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
    .instagam .wrapper img {
      display: inline-block;
      width: calc(100% / 5);
    }

@media (max-width: 961px) {
  section {
    padding: 50px 0; }
  .wrapper {
    width: 80%; }
  button.add-to-cart {
    background: #80a05d;
    color: white;
    transition: 0.3s; }
    button.add-to-cart:hover {
      background: #4c5f38; }
  figure.featured-items {
    width: 100%;
    flex-direction: column-reverse; }
  .featured-products {
    width: 100%;
    margin-right: 0;
    display: flex;
    flex-flow: row wrap; }
    .featured-products .product {
      width: calc(50% - 10px);
      margin: 10px 5px;
      position: relative; }
  .profile a,
  .love a {
    margin: 25px 0px; }
  .profile {
    width: calc(100% - 10px);
    height: auto;
    margin: 0 auto;
    padding-bottom: 100px;
    position: relative; }
    .profile img {
      bottom: 2%;
      right: 0px; }
  .new-arrivals .new-product-container {
    display: flex;
    flex-flow: row wrap; }
  .product-new {
    width: calc(50% - 10px);
    margin: 10px 5px; }
    .product-new img {
      width: 100%; }
    .product-new .product-description {
      padding: 10px 25px; }
    .product-new:first-child {
      width: 100%; }
  .instagam .wrapper {
    justify-content: space-around; }
    .instagam .wrapper img {
      width: calc(100% / 3 - 15px); } }

@media (max-width: 641px) {
  section {
    padding: 50px 0; }
  .wrapper {
    width: 90%; }

  .hero {
    background-attachment: scroll; }
    .hero .wrapper {
      margin: auto;
      text-align: center; }
      .hero .wrapper img {
        display: none;
        visibility: hidden; }
      .hero .wrapper p {
        font-size: 1.6rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: 300;
        color: white; }
  .menu-featured ul {
    display: none; }
  .profile img {
    width: 45%; }
  .farm {
    background-attachment: scroll; }
  .instagam .wrapper {
    flex-direction: column; }
    .instagam .wrapper img {
      width: calc(100% / 2); } }


@media (max-width: 481px) {
  nav.settings {
    position: relative; }
    nav.settings .wrapper .top-nav {
      background: rgba(35, 35, 35, 0.95);
      margin: 0;
      width: 100%;
      height: calc(100vh - 50px);
      position: absolute;
      top: 50px;
      left: 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      z-index: 99999;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s; }
      nav.settings .wrapper .top-nav li {
        display: inline-block;
        margin: 25px auto; }
        nav.settings .wrapper .top-nav li a {
          font-size: 1.4rem; }
        nav.settings .wrapper .top-nav li:nth-of-type(4) {
          align-self: auto; }
    nav.settings .wrapper .show {
      visibility: visible;
      opacity: 1; }
    nav.settings .wrapper .hamburger {
      display: block; }
  figure.featured-items {
    width: 100%;
    flex-direction: column-reverse; }
  .featured-products {
    width: 100%;
    margin-right: 0;
    display: flex;
    flex-flow: row wrap; }
    .featured-products .product {
      width: 100%;
      margin: 10px 5px;
      position: relative; }
      .featured-products .product .container img {
        width: 50%;
        height: 100%; }
      .featured-products .product .container .product-description {
        padding-top: 25px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end; }
  .profile img {
    width: 55%; }
  .product-new {
    width: 100%;
    margin: 10px 5px; }
    .product-new .container img {
      width: 50%;
      height: 100%; }
    .product-new .container .product-description {
      padding-top: 25px;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-end; }
    .product-new:first-child {
      display: none; }
  .product-new .new-hot::after {
    right: 10px; }
  .product-new .new-hot::before {
    top: 45px;
    right: 10px; }
  .product-new .hot::after {
    right: 10px; } }

.profile .short-list ol {
    height: 100vh;
    max-height: 950px;
    background-color: #ffe2be;
    padding: 50px 30px;
    text-align: center;
  }

.slogan {
  margin: 0 auto;
    background: #ffe2be;
    padding: 20px 0;
    text-align: center;
}
